# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build outputs
dist/
.output/
.nuxt/
.nitro/

# Cache
.cache/
.temp/
.tmp/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git/

# Others
public/
coverage/
